.main_font {
font-family: lucida grande;
font-size: 14px;
line-height: 1.5;
color: rgb(0, 0, 0);
 }

.name {
font-weight: bold;
 }

.letter-case {
color: rgb(255, 0, 0);
 }

.so_close {
line-height: 1.1;
 }

.vsakay_erunda_title {
font-family: arial;
font-size: 12.8px;
color: rgb(34, 34, 34);
 }

.vsakay_erunda {
font-size: 11px;
color: rgb(34, 34, 34);
 }